RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST}$1 ^(.*)\.(.*)\.git$
RewriteRule .* %2/?subdomain=%1 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST}$1 ^(.*)\.git$
RewriteRule .* %1/?subdomain=front [L,QSA]
